.headerBackground {
  width: 100vw !important;
  max-width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(179.99deg, #ffffff 12.89%, #e9e9e9 91.39%);
}
.headContent {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
.headBubble {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 800px;
}
.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-left: 5vw;
  margin-right: 5vw;
}
nav {
  font-size: 24px;
  display: flex;
  margin-top: 50px;
  a {
    width: 130px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    margin-left: 50px;
    color: #5988ff;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}
.logo {
  width: 70px;
  margin-top: 20px;
}
.headTitle {
  position: relative;
  left: 50vw;
  top: 15%;
  h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    color: #5988ff;
    z-index: 100;
  }
  h1 {
    font-family: "Baloo Bhaina 2", sans-serif;
    font-weight: 800;
    color: #5988ff;
    font-size: 128px;
    padding-top: 60px;
  }
}
.myPicture {
  position: absolute;
  bottom: 0;
  width: 75vh;
}
.burgerMenu {
  z-index: 101;
  margin-top: 30px;
  width: 40px;
  height: 37px;
  display: none;
  &:hover {
    cursor: pointer;
  }
}
.scrollAndIcons {
  position: absolute;
  bottom: 0;
  left: 66vw;
  width: 29vw;
  display: flex;
  justify-content: space-between;
  p {
    font-family: "Montserrat", sans-serif;
    color: #5988ff;
    font-size: 24px;
  }
}
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headIcons {
  display: flex;
  margin-top: 110px;
  gap: 35px;
  flex-direction: column;
  img {
    animation-name: side-icons-animation-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    &:hover {
      animation-name: side-icons-animation-in;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

.pointer:hover {
  cursor: pointer;
}

@keyframes side-icons-animation-in {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}
@keyframes side-icons-animation-out {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0px);
  }
}

@media (max-width: 1500px) {
  .headTitle {
    left: 55vw;
    h3 {
      font-size: 50px;
    }
    h1 {
      font-size: 100px;
      padding-top: 30px;
    }
  }
  .scrollAndIcons {
    left: 70vw;
    width: 26vw;
  }
}

@media (max-width: 1600px) {
  .headBubble {
    width: 700px;
  }
}

@media (max-width: 1400px) {
  .headTitle {
    left: 55vw;
  }
}
@media (max-width: 1250px) {
  .myPicture {
    width: 70vh;
  }
  .headBubble {
    left: -100px;
  }
  nav {
    font-size: 18px;
  }
  .headTitle {
    left: 58vw;
    h3 {
      font-size: 42px;
    }
    h1 {
      font-size: 80px;
      padding-top: 10px;
    }
  }
}

@media (max-width: 1100px) {
  .scrollAndIcons {
    display: none;
  }
  nav {
    display: none;
  }
  .headContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .myPicture {
    height: 60vh;
    width: auto;
  }
  .burgerMenu {
    display: block;
  }
  .headBubble {
    width: 100vw;
  }
  .headTitle {
    left: 0;
    top: 10vh;
    h3 {
      color: white;
    }
    h1 {
      color: white;
    }
  }
  .logo {
    margin-left: 0;
  }
  .menu {
    width: 90vw;
  }
}
@media (max-width: 700px) {
  .logo {
    img {
      width: 50px;
    }
  }
  .burgerMenu {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .headBubble {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .headBubble {
    width: 550px;
  }
}
@media (max-width: 470px) {
  .headBubble {
    width: 550px;
  }
}
@media (max-width: 450px) {
  .headTitle {
    h3 {
      font-size: 40px;
    }
    h1 {
      font-size: 72px;
    }
  }
}
@media (max-width: 420px) {
  .headBubble {
    width: 500px;
  }
}
@media (max-width: 400px) {
  .headBubble {
    width: 480px;
  }
  .headTitle {
    h3 {
      font-size: 32px;
    }
    h1 {
      font-size: 64px;
    }
  }
}
@media (max-width: 360px) {
  .headBubble {
    width: 460px;
  }
}
@media (max-height: 860px) {
  .scroll {
    height: 100px;
  }
}
@media (max-height: 750px) {
  .scrollAndIcons {
    height: 200px;
  }
  .headIcons {
    margin-top: 20px;
  }
}
@media (max-height: 650px) {
  .headIcons {
    margin-left: 22vw;
  }
  .scroll {
    display: none;
  }
}
@media screen and (max-width: 1100px) and (max-height: 700px) {
  .headTitle {
    top: 5vh;
  }
}
@media screen and (max-width: 1100px) and (max-height: 600px) {
  .headTitle {
    top: 2vh;
  }
}
@media (max-height: 620px) {
  .logo {
    img {
      width: 40px;
    }
  }
  .burgerMenu {
    width: 30px;
    height: 30px;
  }
  .headTitle {
    h3 {
      font-size: 30px;
    }
    h1 {
      font-size: 70px;
    }
  }
}
