<div id="home" class="headerBackground"></div>
<div class="headContent">
  <div class="menu">
    <div class="logo">
      <img src="../../assets/img/logos/logoWhite.png" alt="Logo" />
    </div>
    <nav>
      <a href="#aboutme">About me</a>
      <a href="#skillset">Skill set</a>
      <a style="margin-left: 30px;" href="#mywork">My work</a>
    </nav>
    <img (click)="this.heroService.menuToggle()" class="burgerMenu" src="../../assets/img/mobileMenu/menuMobile1.png" alt="menu">
  </div>
  <img
    class="headBubble"
    src="../../assets/img/bubbles/HeadBubble.png"
    alt="Bubble"
  />
  <div class="headTitle">
    <h3>Hello! I am Mike</h3>
    <h1>FRONTEND</h1>
    <h1>DEVELOPER</h1>
  </div>
  <div class="scrollAndIcons">
    <div class="scroll">
        <p>
            SCROLL
        </p>
        <img src="../../assets/img/scrollLine.png" alt="Scroll">
    </div>
    <div class="headIcons">
        <img (click)="goToLink('https://github.com/MikeMeier97')" class="pointer" src="../../assets/icons/githubIcon.png" alt="GitHubIcon">
        <img (click)="mailMe()" class="pointer" src="../../assets/icons/emailIcon.png" alt="EmailIcon">
        <img (click)="goToLink('https://www.linkedin.com/in/mike-meier-887305231/')" class="pointer" src="../../assets/icons/linkedInIcon.png" alt="LinkedInIcon">
    </div>
  </div>
  <img class="myPicture" src="../../assets/img/myPicture.png" alt="Photo of me"> -->
</div>
