.footerBackground {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100vw !important;
  max-width: 100%;
  background: radial-gradient(
    71.18% 335.57% at 28.82% -124.4%,
    #5988ff 6.25%,
    #5988ff 51.56%,
    #0043f0 100%
  );
  height: 300px;
}

footer {
  display: flex;
  margin-left: 5vw; 
  margin-right: 5vw;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.icons {
    img {
        padding-right: 42px;
    }
}
#iconFooter {
  width: 64px;
  height: 69px;
  padding-right: 110px; 
}
.text {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    font-family: 'Montserrat', sans-serif;
    p{
        font-size: 23px;
        color: white; 
    }
}
.impressum {
    font-size: 16px;
    color: white;
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 380px;
  }
  .footerBackground {
    height: 380px;
  }
  .text {
    padding-top: 10px; 
    gap: 0;
  }
  #iconFooter {
    padding-right: 0; 
    padding-top: 60px; 
  }
  .impressum {
    margin-bottom: 80px;
  }
}