<div class="footerBackground"></div>
<footer>
  <a href="#home">
    <img
      id="iconFooter"
      src="../../assets/img/logos/logoWhite.png"
      alt="Logo"
    />
  </a>
  <div class="text">
    <p>© Mike Meier {{ date }}</p>
    <ng-template [ngIf]="innerWidth > 800">
      <a href="#home">
        <p class="impressum">Impressum</p>
        <div class="underline"></div
      ></a>
    </ng-template>
  </div>
  <div class="icons">
    <img
      (click)="goToLink('https://github.com/MikeMeier97')"
      src="../../assets/icons/gitWhite.png"
      alt="Git"
    />
    <img
      (click)="mailMe()"
      class="pointer"
      src="../../assets/icons/emailIcon.png"
      src="../../assets/icons/emailWhite.png"
      alt="Email"
    />
    <img
      (click)="goToLink('https://www.linkedin.com/in/mike-meier-887305231/')"
      style="padding: 0"
      src="../../assets/icons/linkedInWhite.png"
      alt="LinkedIn"
    />
  </div>
  <ng-template [ngIf]="innerWidth < 800">
    <a href="#home">
      <p class="impressum">Impressum</p>
      <div class="underline"></div
    ></a>
  </ng-template>
</footer>
