<div [class.close_animation-slide]="this.heroService.mobileMenuHidden" id="menuMobile" class="d-none">
  <div class="content">
    <div class="icons">
      <img src="../../assets/img/logos/logoblue.png" alt="Logo" />
      <img (click)="this.heroService.menuToggle()" id="burgerMenuOpen"  src="../../assets/img/mobileMenu/menuMobile4.png" alt="Menu">
    </div>
    <nav>
      <a (click)="this.heroService.menuToggle()" href="#aboutme">About me</a>
      <a (click)="this.heroService.menuToggle()" href="#skillset">Skill set</a>
      <a (click)="this.heroService.menuToggle()" href="#mywork">My work</a>
    </nav>
  </div>
</div>
