<div id="aboutme" class="aboutmeBackground"></div>
<div class="aboutmeContent">
  <div class="titleColumn">
    <h1>
      Let's work <br />
      together
    </h1>
  </div>
  <div class="rightColumn">
    <div class="textColumn">
      <p>
        Hello, my name is Mike and I am a Junior Front-End Developer. 
        I really enjoy bringing ideas to life, and I place great emphasis on careful 
        planning as well as clean code and good documentation. Working in a team is also 
        a lot of fun for me, and I am always open to agile working methods. Right now, 
        after completing my vocational training, I am very excited to start my career 
        as a developer and continue to grow professionally!
        <br />
        <br />
        if you think i'd be a good match for your projects, contact me!
      </p>
    </div>
    <div class="button">
      <a href="#contact"><button>Send a message</button></a>
    </div>
  </div>
</div>
<div class="bubbles">
  <img
    class="aboutMeBubbleMid"
    src="../../assets/img/bubbles/bubble.png"
    alt="Bubble"
  />
</div>
<img
  class="aboutMeBubbleSmall"
  src="../../assets/img/bubbles/bubble.png"
  alt="Bubble"
/>
