<div class="aboutmeContent">
  <div class="titleColumn">
    <h1>Let's work <br> together</h1>
  </div>
  <div class="rightColumn">
    <div class="textColumn">
      <p>
        I am a Front-end developer based in Nürnberg, <br />
        Germany. I enjoy helping designers and <br />
        companies bring their ideas into real life. I am <br />
        looking forward to continuing my developer <br />
        career with a job in a junior web developer <br />
        position. <br />
        <br />
        if you think i'd be a good match for your projects, <br />
        contact me! <br />
      </p>
    </div>
    <div class="button">
      <button>Send a message</button>
    </div>
  </div>
</div>
<div class="bubbles">
  <img class="aboutMeBubbleMid" src="../../assets/img/bubbles/bubble.png" alt="Bubble">
</div>
<img class="aboutMeBubbleSmall" src="../../assets/img/bubbles/bubble.png" alt="Bubble">

