<div class="contactContext">
  <div class="text">
    <h1>Contact</h1>
    <h2>Got a problem to solve?</h2>
    <p>
      Contact me trough this form, i am interested in hearing <br />
      you, knowing your ideas and contributing to your projects <br />
      with my work.
    </p>
    <p class="subtext">Need a Frontend developer? <b>Contact me!</b></p>
  </div>
  <form (submit)="sendMail()" ngNativeValidate #myForm>
    <!-- TODO STYLE -->
    <textarea
      style="resize: none"
      class="textField"
      name="name"
      #name
      required
      type="text"
      placeholder="Your name"
    ></textarea>
    <textarea
      style="resize: none"
      class="textField"
      name=""
      type="email"
      #email
      required
      placeholder="Your email"
    ></textarea>
    <textarea
      class="textField"
      name="message"
      #message
      required
      id="message"
      placeholder="Your message"
    ></textarea>
    <button #sendButton>Say hello ;)</button>
  </form>
  <img
    class="bubbleByContactBig"
    src="../../assets/img/bubbles/bubbleBIG.png"
    alt="Bubble"
  />
  <img
    class="bubbleByContactSmall"
    src="../../assets/img/bubbles/bubbleBIG.png"
    alt="Bubble"
  />
  <img
    class="bubbleUP"
    src="../../assets/img/bubbles/upBubble.png"
    alt="Bubble"
  />
</div>
