<div class="contactContext">
  <div class="text">
    <h1>Contact</h1>
    <h2>Got a problem to solve?</h2>
    <p>
      Contact me trough this form, i am interested in hearing <br />
      you, knowing your ideas and contributing to your projects <br />
      with my work.
    </p>
    <p class="subtext">Need a Frontend developer? <b>Contact me!</b></p>
  </div>
  <form action="">
    <textarea class="textField" name="" id="name" placeholder="Your name"></textarea>
    <textarea class="textField" name="" id="email" placeholder="Your email"></textarea>
    <textarea class="textField" name="" id="message" placeholder="Your message"></textarea>
    <button>Say hello ;)</button>
  </form>
</div>
