.text {
    z-index: 1;
    margin-right: 50px;
    h1 {
        font-size: 90px;
        font-weight: 800;
        font-family: 'Baloo Bhaina 2', sans-serif;
        color: #5988FF;
        margin-bottom: 85px; 
    }
    p {
        font-family: 'Montserrat', sans-serif;
        margin-top: 35px;
        font-size: 16px;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 32px;
        color: #5988FF;
    }
}
.contactContext {
    padding: 180px 5vw 100px 5vw;
    overflow: hidden; 
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #e9e9e9 80.39%);
    background-size: 100vw;
}
.subtext {
    color: #5988FF;
    margin-top: 25px;
    font-size: 16px;
}
form {
    display: flex; 
    gap: 35px;
    flex-direction: column;
    align-items: center;  
}
#message {    
    padding: 10px 30vw 140px 20px;
}
#name{
    padding: 10px 30vw 0px 20px;
    height: 30px;
    resize: none;
}
#email {
    padding: 10px 30vw 0px 20px;
    height: 30px;
    resize: none;
    
}
.textField {
    border-radius: 10px;
    border: 1px solid #5988FF;
    font-family: 'Montserrat', sans-serif;
    animation-name: textfield-hover-out;
    animation-duration: 80ms;
    animation-fill-mode: forwards;
    &:hover {
        animation-name: textfield-hover-in;
        animation-duration: 80ms;
        animation-fill-mode: forwards;
    }
}

button{
    color: #5988FF;
    font-size: 23px; 
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    outline: none;
    height: 60px;
    background-color: linear-gradient(179.99deg, #FFFFFF 12.89%, #e9e9e9 91.39%);
    border-style: solid;
    border-radius: 10px;
    border-color: #5988FF;
    margin-top: 35px;
    animation-name: hover-animation-button-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    &:hover {
        animation-name: hover-animation-button-in;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        color: white;
        cursor: pointer;
    }
}
textarea{
    outline-color: #04060ab0; 
    margin: 0;
    background: #fafafa;
    z-index: 1;
}
.bubbleByContactBig {
    width: 200px;
    height: 200px; 
    position: absolute;
    top: 520px;
    left: 300px; 
    z-index: 0; 
}

.bubbleByContactSmall{
    width: 73px;
    height: 73px;
    position: absolute;
    top: 670px;
    left: 85vw; 
    z-index: 0; 
}
.bubbleUP {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 700px;
    left: 50px;
    z-index: 0; 
    &:hover {
        cursor: pointer;
        content: url('../../assets/img/bubbles/upBubbleHover.png');
    } 
}

@keyframes textfield-hover-in {
    from {
        outline: none;
        }
    to {
        outline: auto; 
        border-color: #5988FF00; 
    }
}

@keyframes textfield-hover-out {
    from {
        outline: auto;
        border-color: #5988FF00; 
        }
    to {
        outline: none; 
    }
}


@keyframes hover-animation-button-in {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
        background: linear-gradient(104.85deg, #5988FF 29.03%, #FFFFFF 33.64%, #FFFFFF 39.44%, #FFFFFF 90.08%);
    }
    60% {
        transform: scale(1.2);
        background: linear-gradient(104.4deg, #5988FF 9.21%, #5988FF 27.52%, #5988FF 62.24%, #FFFFFF 64.83%, #FFFFFF 67.43%, #FFFFFF 90.18%);
    }
    100% {
        transform: scale(1.2);
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        border: none;
    }
}
@keyframes hover-animation-button-out {
    from{
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        border: none;
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
        border: 2px solid #5988FF;
        background: #e9e9e900;
    }
} 
@media (max-width: 1250px) {
    .bubbleByContactBig {
        left: 50vw;
        top: 200px;
    }
}
@media (max-width: 1100px) {
    .bubbleUP {
        top: 1080px;
        left: 5vw;
    }
    .contactContext {
        flex-direction: column;
        align-items: center;
    }
    .text {
        margin-left: 50px;
        text-align: center;
        h1 {
            font-size: 64px;
        }
        margin-bottom: 100px;
        h1 {
            margin-bottom: 50px;
        }
    }
    textarea {
        width: 40vw;
    }
    .bubbleByContactBig {
        top: 550px;
    }
    .bubbleByContactSmall {
        top: 50px;
        left: 700px;
    }
}
@media(max-width: 800px) {
    .bubbleByContactSmall {
        left: 80vw;
    }
}
@media(max-width: 700px) {
    .bubbleByContactBig {
        left: 30vw;
    }
}
@media (max-width: 600px) {
    .bubbleByContactBig {
        top: 600px;
    }
    .bubbleUP {
        top: 1100px;
    }
}
@media (max-width: 580px) {
    .bubbleUP {
        top: 1150px;
    }
}
@media (max-width: 500px) {
    .bubbleUP {
        top: 1150px;
    }
    .text {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 450px) {
    .bubbleUP {
        top: 1150px;
    }
}