/* baloo-2-regular - latin */
@font-face {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    src: url('./baloo-2-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./baloo-2-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./baloo-2-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./baloo-2-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./baloo-2-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./baloo-2-v16-latin-regular.svg#Baloo2') format('svg'); /* Legacy iOS */
  }
  