.myworkContent {
    padding-top: 50px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 100vw;
    max-width: 100%;
}
.title {
    margin-top: 100px;
    h1 {
        font-family: 'Baloo Bhaina 2', sans-serif;
        font-size: 96px;
        color: #5988FF;
        font-weight: 800;
        padding-bottom: 40px;
    }
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        line-height: 120%;
    }
}
.columnWork{
    margin-top: 150px;
    width: 100vw;
    display: flex; 
    justify-content: space-between;
    gap: 90px;
}
.workIMG {
    animation-name: hover-img-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    width: 620px;
    height: 393px;
    z-index: 2;
    &:hover {
        animation-name: hover-img-in;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
}
.textRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px; 
    margin-right: 200px;
    h1 {
        font-family: 'Baloo Bhaina 2', sans-serif;
        font-size: 45px;
        font-weight: 800;
        color: #5988FF;
    }
    h3 {
        color: #5988FF;
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
    }
    p {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        line-height: 120%;

    }
}
.textLeft {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px; 
    h1 {
        font-family: 'Baloo Bhaina 2', sans-serif;
        font-size: 45px;
        font-weight: 800;
        color: #5988FF;
    }
    h3 {
        color: #5988FF;
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
    }
    p {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        line-height: 120%;
        text-align: end;

    }
}
.button {
    color: #5988FF;
    font-size: 23px; 
    width: 137px;
    height: 58px;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #5988FF;
    margin-top: 35px;
}

.theWorks {
    display: flex; 
    flex-direction: column;
}

button{
    animation-name: hover-animation-button-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    &:hover {
        animation-name: hover-animation-button-in;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        color: white;
        cursor: pointer;
    }
}
@keyframes hover-animation-button-in {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
        background: linear-gradient(104.85deg, #5988FF 29.03%, #FFFFFF 33.64%, #FFFFFF 39.44%, #FFFFFF 90.08%);
    }
    60% {
        transform: scale(1.2);
        background: linear-gradient(104.4deg, #5988FF 9.21%, #5988FF 27.52%, #5988FF 62.24%, #FFFFFF 64.83%, #FFFFFF 67.43%, #FFFFFF 90.18%);
    }
    100% {
        transform: scale(1.2);
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        border: none;
    }
}
@keyframes hover-animation-button-out {
    from{
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        border: none;
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
        border: 2px solid #5988FF;
        background: white;
    }
}

@keyframes hover-img-in {
    from {
        transform: scale(1);
    } 
    to {
        transform: scale(1.1);
    }
}
@keyframes hover-img-out {
    from {
        transform: scale(1.1);

    } 
    to {
        transform: scale(1);
    }
}

.bubbleByTitle {
   width: 110px;
   height: 110px; 
   float: right;
   margin-top: 20px;
   margin-right: 40vw; 
}

.bubbleByText {
    width: 180px;
    height: 180px;
    margin-right: 200px;
}
.bubbleByJoin {
 /* TODO animation */ 
    width: 400px;
    height: 400px; 
    position: absolute;
    top: 3000px; 
    left: -150px;
    z-index: -1;
    float: left;
    object-fit: cover;
    transform: rotate(81.57deg);
}
.bubbleBySharkie {
    width: 650px;
    height: 650px; 
    position: absolute;
    top: 3300px; 
    z-index: -1;
    left: 75vw;
}

.bubbleBySharkieSmall {
    width: 50px;
    height: 50px; 
    position: absolute;
    top: 3700px; 
    left: 200px; 
    z-index: -1;
}
.bubbleByROF {
    width: 240px;
    height: 240px; 
    position: absolute;
    top: 4100px;
    left: 200px; 
    z-index: 1; 
}

@media (max-width: 1200px) {
    .workIMG {
        width: 500px;
        height: 316px;
    }
    .bubbleBySharkie {
        top: 3200px;
    }
    .bubbleByJoin {
        top: 2900px;
    }
    .textRight {
        h1 {
            font-size: 38px;
        }
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
    .textLeft {
        h1 {
            font-size: 38px;
        }
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}
@media (max-width: 1100px) {
    .bubbleBySharkieSmall {
        display: none;
    }
    .columnWork {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }
    .textRight {
        width: 460px;
        margin-right: 0;  
        text-align: center;
        display: flex; 
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 64px;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 28px;
            margin-bottom: 30px;
            line-height: 35px;
        }
        p {
            font-size: 18px;
        }
    }
    .workIMG {
        width: 500px;
        height: auto;
    }
    .bubbleBySharkie {
        width: 350px;
        height: 350px;
        top: 3800px;
        left: 50vw;
        z-index: -1;
    }
    .bubbleByJoin {
        top: 3000px;
    }
    .bubbleByTitle {
        width: 45px;
        height: 45px;
    }
    .bubbleByText {
        width: 90px;
        height: 90px;
        margin-top: 50px;
        float: right;
    }
    .bubbleByROF {
        top: 4800px;
        left: 10vw;
    }
}
@media (max-width: 900px) {
    .bubbleByTitle {
        width: 60px;
        height: 60px;
    }
    .bubbleByText {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 600px) {
    .bubbleByTitle {
        position: relative;
        left: 20vw;
    }
    .bubbleByROF {
        top: 4500px;
    }
    .bubbleBySharkie {
        top: 3700px;
    }
    .bubbleByJoin {
        top: 2900px;
    }
    .workIMG {
        width: 400px; 
    }
    .title {
        p {
            font-size: 12px;
        }
    }
    .textRight {
        h1 {
            font-size: 52px;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 20px;
            line-height: 35px;
        }
        p {
            font-size: 16px;
        }
    }
}
@media (max-width: 700px) {
    .title {
        h1 {
            font-size: 82px;
        }
        p {
            font-size: 18px;
        }
    }
}
@media (max-width: 500px) {
    .title {
        margin-bottom: 50px; 
    }
    .bubbleByText {
        display: none;
    }
    .bubbleByTitle {
        left: 30vw;
    }
    .bubbleByJoin {
        width: 380px;
        height: 380px;
    }
    .bubbleByROF {
        top: 4400px;
    }
    .bubbleBySharkie {
        top: 3600px;
    }
    .workIMG {
        width: 350px;
    }
    .textRight {
        width: 80vw;
        h1 {
            font-size: 42px;
        }
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
    }
}
@media (max-width: 420px) {
    .bubbleByTitle {
        width: 40px;
        height: 40px;
    }
    .bubbleByROF {
        top: 4350px;
    }
    .bubbleByJoin {
        width: 230px;
        height: 230px;
        left: -50px;
        top: 2950px;
    }
    .workIMG {
        width: 300px;
    }
    .title {
        h1 {
            font-size: 70px;
        }
        p {
            font-size: 14px;
        }
    }
}