.skillsetContent { 
    padding-top: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 630px; 
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
    h1{
        font-family: 'Baloo Bhaina 2', sans-serif;
        font-weight: 800;
        color: white; 
        font-size: 96px;
        padding-bottom: 100px; 
    }
}
.iconColumn {
    display: flex;
    padding-left: 10vw;
}
.lastBox {
    margin-right: 0 !important;
}
.firebase{
    width: 55px;
    height: 75px;
}
.box {
    margin-right: 10vw;
    width: 70px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    img{
        animation-name: hover-effekt-img-out;
        animation-duration: 0.2s;
    }
    p {
        margin-top: 12px; 
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 16px;
        color: white; 
        white-space: nowrap;
    }
    &:hover {
        animation: hover-effekt-text;
        animation-duration: 0s;
        animation-fill-mode: forwards;
        img {
            animation-name: hover-effekt-img-in;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes hover-effekt-text{
    from {
        font-weight: normal;
    }
    to {
        font-weight: bolder;
    }
}

@keyframes hover-effekt-img-in {
    from{
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes hover-effekt-img-out {
    from{
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}
@media(max-width: 800px) {
    .skillsetContent {
        height: 720px;
        padding-top: 0px;
        h1 {
            font-size: 64px;
            margin-top: 50px;
            padding-bottom: 20px; 
        }
    }
    .box {
        margin-top: 30px;
        img {
            width: 60px;
        }
    }
    .iconColumn {
        width: 80vw;
        justify-content: space-around;
    }
    .firebase{
        width: 55px;
        height: 65px;
    }
}
@media(max-width: 400px) {
    .iconColumn{
        padding-left: 20px;
    }
    .box {
        max-width: 50px;
        margin-right: 20px;
        img {
            width: 50px;
        }
        p{
            font-size: 12px;
        }
    }
    .firebase {
        width: 50px;
        height: 53px;
    }
}